@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',serif,sans-serif;
}


header {
    background-color: #273678;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img {
    overflow: hidden;
    width: 200px;
}

div.img img{
    width: 190px;
}

nav {
    float: right;
    padding-right: 20px;
}
nav a{
    line-height: 80px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    padding: 7px 13px;
}

nav a:active, nav a:hover {
    color: blueviolet;
    transition: .5s;
}
body {
    background-color: white;
}

.checkbtn{
    font-size:30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 1080px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav a {
        font-size: 16px;
    }
}

@media (max-width: 990px){
    .checkbtn{
        display: block;
    }
    nav{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #273678;
        top: 80px;
        left: -100%;
        text-align: center;
        transform: all .5s;
    }
    nav a{
        display: block;
        height: 60px;
    }
    #check:checked ~ nav{
        left: 0;
        transition: .5s;
    }
}

/* main + grid */

.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.card__image {
    display: block;
    width: 100%;
}

.card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
}

.card__content > p:first-of-type{
    margin-top: 0;
}

.card__content > p:last-of-type{
    margin-bottom: 0;
}