@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',serif,sans-serif;
}


header {
    background-color: #273678;
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img {
    overflow: hidden;
    width: 300px;
}

div.img img{
    width: 300px;
}

nav {
    float: right;
    padding-right: 10px;
}
nav a{
    line-height: 80px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    padding: 7px 13px;
}

nav a:active, nav a:hover {
    color: blueviolet;
    transition: .5s;
}
body {
    background-color: white;
}

.checkbtn{
    font-size:30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 1080px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav a {
        font-size: 16px;
    }
}

@media (max-width: 990px){
    .checkbtn{
        display: block;
    }
    nav{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #273678;
        top: 80px;
        left: -100%;
        text-align: center;
        transform: all .5s;
    }
    nav a{
        display: block;
        height: 60px;
    }
    #check:checked ~ nav{
        left: 0;
        transition: .5s;
    }
}

/* banner */

.banner {
    width: 100%;
    height: 800px;
    background-image: url(img/matt-sclarandis-S_IV6KqGeso-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.banner img {
    width: 100%;
    margin-top: -15%;
    
}

.h1_banner{
    width: 100%;
    height: 400px;
}

.h1_banner h1 {
    color: #273678;
    text-align: center;
    font-size: 3.5em;
    padding-top: 5%;

}

.explore {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.explore h1 {
    color: white;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 3em;
    font-weight: 200;
}

.explore i {
    color: white;
    font-size: 4em;
    font-weight: 200;
}
/* logo +texte */
.content {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.content_h1  {
    width: 40%;
}

.content_logo {
    width: 30%;
}


.content img{
    width: 600px;
}

.content h1{
    font-size: 4em;
    font-weight: 700;
    color: #273678;
    width: 100%;
    text-align: left;
    padding-left: 70px;
}

/* grid home */
.wrapper {
    width: 100%;
    height: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    max-width: 1700px;
    padding: 40px 0;
}

.one {
    width: 100%;
    background-color: #273678;
    grid-column-start: 1;
    grid-column-end: 2;
}

.one h1 {
    color: #ffffff;
    font-size: 80px;
    font-weight: 200;
    padding-left: 30px;
}

.one h1 span {
    font-weight: 700;
    font-size: 100px;
}

.bloc_btn1 {
    float: right;
    padding-top: 50px;
    padding-right: 50px;
}

.btn1 {
    color: #273678;
    background-color: white;
    border: solid white 2px;
    border-radius: 15px;
    padding: 10px 10px;
    font-size: 50px;
    text-decoration: none;
    font-weight: 500;
}

.btn1:hover {
    color: white;
    background-color: #273678;
}

.two {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url(img/teammate.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.two h1{
    font-size: 80px;
    text-align: right;
    font-weight: 400;
    padding-top: 830px;
    padding-right: 50px;
    color: white;
}

.two h1 span {
    font-size: 120px;
    font-weight: 700;
}


.three {
    background-image: url(img/logo-NWS.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}


/* main + grid  portfolio */

.cards {
    padding-left: 5%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 20px;
    margin: 0 auto;
}

.card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.card__image {
    display: block;
    width: 100%;
}

.card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
}

.card__content > p:first-of-type{
    margin-top: 0;
}

.card__content > p:last-of-type{
    margin-bottom: 0;
}

.card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #cccccc;

}


/* footer */
footer {
    background-color: #273678;
    width: 100%;
    height: 200px;
}

.foot_text {
    width: 100%;
    height: 114px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
}

.foot_text h1 {
    font-size: 70px;
}